{% capture background_banner %}{% editable_file "Bannière", priority: 100 %}{% endeditable_file %}{% endcapture %}
{% capture title_banner %}{% editable_text "Titre sur bannière", priority: 99 %}Perfect choice for your web and mobile apps.{% endeditable_text %}{% endcapture %}

<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 450px;">
      <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url('{{background_banner}}')"></div>
      <div class=" parallax-text center-it page-title text-center">
        <h1 class="">{{ title_banner }}</h1>
      </div>
    </div><!--end page header-->

    <!-- <div class="container"> -->
    {% if notice %}<div class="alert alert-success">{{ notice }}</div>{% endif %}
    {% if alert %}<div class="alert alert-danger">{{ alert }}</div>{% endif %}

<div class="space-90"></div>
<div class="container">
  <div class="row col-md-12">
<div ><h1>Conditions generales d’utilisation des logiciels en ligne developpes par applidget et des applications associees</h1>
<p>Les présentes Conditions Générales d’Utilisation (ci-après « CGU ») régissent les rapports entre d’une part, la société APPLIDGET, société par actions simplifiée, au capital de 43.590 euros, immatriculée au registre du commerce et des sociétés de Paris
  sous le numéro 512 747 676, dont le siège social est situé 49, rue de Ponthieu 75008 PARIS (ci-après APPLIDGET) et d’autre part, tout organisateur d’événement à visée professionnelle (ci-après l’ « Organisateur ») utilisant les logiciels en ligne
  développés par APPLIDGET et les applications associées pour l’organisation de ses événements.</p>
  <p><br></p>
<h3>Définitions</h3>
<p>Dans les CGU, les termes et expressions identifiés par une majuscule ont la signification indiquée ci-après, qu’ils soient employés au singulier ou au pluriel.</p>
<p>« Evénements » : désigne les manifestations à visée professionnelle (conférences, soirées, forums, colloques, congrès, salons etc.) organisés par l’Organisateur et auxquels participent les Invités;</p>
<p>« Invité » : désigne toute personne invitée par l’Organisateur à s’inscrire et participer à l’Evénement en utilisant le Service;</p>
<p>« Organisateur » : désigne la personne morale organisant un Evénement, auquel elle invite des Invités en utilisant le Service;</p>
<p>« Service » : désigne les logiciels en ligne d’APPLIDGET et les applications associées.</p>
<p><br></p>
<h3>Objet</h3>
<p>Les CGU ont pour objet de définir les conditions d'utilisation du Service. En utilisant le Service, l’Organisateur accepte de respecter et d’être lié par les CGU, ainsi que par <a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vSyWG_LULiLKJo-F-X_-lez736XVLSTldoiOCqRcBypSYSL97FSHXkaegqaaedyNO7fuDwBpo899iQj/pub&amp;sa=D&amp;ust=1531735026455000">l’annexe Données personnelles</a>.</p>
<p><br></p>
<h3>Description du Service</h3>
<p>Le Service permet à l’Organisateur :</p>
<ul>
  <li>de gérer l’organisation de son Evénement via :</li>
</ul>
<ul>
  <li>des plateformes Internet accessibles sur un site Internet par un navigateur;</li>
  <li>des interfaces de programmation; et</li>
  <li>et des applications mobiles;</li>
</ul>
<ul>
  <li>d’envoyer des courriers électroniques de confirmation et de distribuer des badges aux Invités.</li>
</ul>
<p><br></p>
<h3>Inscription au Service</h3>
<p>Pour pouvoir accéder au Service, l’Organisateur doit bénéficier d’une connexion Internet et créer un compte en remplissant le formulaire d’inscription disponible en ligne et accepter les termes des présentes CGU.</p>
<p>La validation électronique du formulaire d’inscription par le Client entraîne l’acceptation sans réserve des CGU.</p>
<p>Lors de son inscription, l’Organisateur s’engage à fournir des informations complètes, exactes et à jour. Ces informations comprennent notamment la dénomination et la raison sociale de l’Organisateur, l’adresse postale de son siège social, le nom et
  l’adresse électronique de l’Organisateur. L’Organisateur s’engage à informer sans délai APPLIDGET de toute modification concernant lesdites informations.</p>
<p>L'Organisateur s’engage à communiquer sans délai à APPLIDGET toute modification de son nom ou de la raison sociale de la personne morale qu’il représente, de son domicile, du siège social de la personne morale qu’il représente, de son adresse de facturation,
  de la forme juridique de son entreprise, de ses coordonnées bancaires ou de son numéro de TVA intracommunautaire.</p>
<p>La personne remplissant le formulaire d’inscription pour le compte de l’Organisateur certifie être parfaitement habilitée à représenter celui-ci, APPLIDGET pouvant exiger de cette personne la présentation d’un pouvoir pour l’engager. L’Organisateur
  est une personne morale dûment enregistrée au registre du commerce et des sociétés, ne faisant l’objet d’aucune mesure de redressement judiciaire de liquidation ou de sauvegarde et ayant la pleine capacité de contracter.</p>
<p>APPLIDGET se réserve le droit de rejeter, de façon discrétionnaire, toute inscription.</p>
<h4>Identifiants personnels et profil</h4>
<p>Une fois l’inscription finalisée, l’Organisateur reçoit un identifiant et un mot de passe. Ces identifiants sont strictement personnels et l’Organisateur s’engage à ne pas les divulguer. APPLIDGET se réserve le droit de résilier tout compte dont elle
  aura raisonnablement établi que les identifiant et mot de passe pourraient avoir été utilisés par une personne non autorisée.</p>
<p>L’Organisateur a également la possibilité de créer un profil contenant certaines données personnelles. Dans la mesure où ces données sont volontairement mises en ligne par l’Organisateur, ce dernier est dûment informé et accepte sans réserve que ces
  données personnelles soient conservées par APPLIDGET.</p>
<h4>Organisation d’Evénements</h4>
<p>L’Organisateur a la possibilité d’organiser plusieurs Evènements à partir d’un compte Organisateur unique. Toutefois, pour pouvoir profiter de l’ensemble des fonctionnalités et avantages du Service, l’Organisateur doit souscrire aux offres Packs disponibles
  en ligne sur le site d’APPLIDGET conformément à l’Article 12, ou accepter un devis de la part de l’équipe d’APPLIDGET.</p>
<h4>Traitement des données personnelles</h4>
<p>Données “organisateur”</p>
<p>Les données nominatives renseignées lors de la création d'un compte lors de l’utilisation du Service sont traitées dans le respect des principes de protection des données personnelles.</p>
<p>APPLIDGET a déclaré la collecte et le traitement des données personnelles auprès de la CNIL. L’ensemble des éléments relatifs à l’utilisation du compte (informations, données de connexion...) sera conservé et archivé par APPLIDGET ou un tiers prestataire
  d’APPLIDGET.</p>
<p>APPLIDGET pourra se prévaloir, notamment à des fins probatoires, de tout acte, fichier, enregistrement, sur tous supports dont le support informatique établi, reçu ou conservé directement ou indirectement par APPLIDGET dans une base de données.</p>
<p>APPLIDGET s’engage à ne communiquer ces informations à des tiers que sur réquisition d'une autorité judiciaire ou administrative habilitée française, ou rattachée à l'État dans lequel elles sont traitées et/ou stockées.</p>
<p>APPLIDGET peut également utiliser l'adresse IP pour identifier les utilisateurs qui contreviendraient aux présentes ou qui causeraient un dommage à APPLIDGET. Dans ce cas, APPLIDGET sera fondée à transmettre les données de connexion auprès des autorités
  compétentes.</p>
<p>Conformément à la Loi n° 78-17 du 6 janvier 1978 modifiée, dite Loi Informatique et Libertés, l’Utilisateur dispose d'un droit de consultation, de modification et de retrait des données personnelles collectées par APPLIDGET. Ces droits peuvent être
  exercés en adressant un message électronique à l’adresse <a href="mailto:ecrire@applidget.com">ecrire@applidget.com</a>.</p>
<p>Données “invités”</p>
<p>L’organisateur est responsable du traitement des données personnelles des invités selon les termes de l’annexe aux présentes CGU : “Traitement des données personnelles des invités”</p>
<p><br></p>
<h3>Durée</h3>
<p>Le présent contrat prend effet, pour une durée indéterminée, à compter de l’acceptation des CGU par l’Organisateur lors de la sélection de l’option « J’accepte » ou à la signature d’un devis établi par la société APPLIDGET à l’intention de l’Organisateur.</p>
<p><br></p>
<h3>Paiement</h3>
<p>L’Organisateur s’engage à respecter les modalités de paiement figurant sur les devis qui lui seront communiqués par APPLIDGET. A défaut, les pénalités encourues de plein droit et sans mise en demeure préalable seront égales à trois (3) fois le taux
  d’intérêt légal. En outre, l’Organisateur sera redevable de plein droit d’une indemnité forfaitaire de quarante (40) euros pour frais de recouvrement. APPLIDGET sera par ailleurs en droit de réclamer une indemnisation complémentaire, sur justification,
  si les frais de recouvrement exposés sont supérieurs au montant de cette indemnité forfaitaire.</p>
  <p><br></p>
<h3>Réception des courriels envoyés par APPLIDGET</h3>
<p>L’Organisateur s’engage à faire en sorte de recevoir les courriels qui lui sont adressés par APPLIDGET et doit veiller à ne pas en bloquer la réception.</p>
<p><br>Il appartient à l’Organisateur de vérifier en temps utiles que les courriels qui lui ont été adressés par APPLIDGET lui sont bien parvenus, APPLIDGET ne pouvant être tenue responsable des conséquences directes et indirectes liées à la non-réception
  de ses courriels par l’Organisateur.</p>
  <p><br></p>
<h3>Connexion Internet, navigateur et matériel utilisé</h3>
<p>Pour utiliser le Service, l’Organisateur doit disposer d’un accès à l'Internet fiable. APPLIDGET n’est pas responsable de la perte, de la viabilité ou du débit de la connexion Internet utilisée par l’Organisateur avec le Service, quelle qu’en soit la
  nature.</p>
<p>APPLIDGET n’est pas responsable de la qualité et des performances du réseau Wifi utilisé avec le Service si celui-ci n’a pas été mis en place par ses soins. Dans le cas où le réseau Wifi est installé par Applidget, Applidget ne pourra être tenu responsable
  du débit de la connexion internet auquel ce réseau Wifi est connecté. De plus Applidget ne pourra être tenu responsable des éventuelles interférences dues au déploiement d’autres réseaux Wifi sur le lieu de l’événement et nuisant à la qualité du signal
  du réseau Wifi installé par Applidget.</p>
<p>Il appartient à l’Organisateur de vérifier la bonne compatibilité du Service avec le navigateur et la version de ce dernier qu’il utilise, APPLIDGET ne garantissant pas la compatibilité du Service avec l’ensemble des navigateurs du marché.</p>
<p>APPLIDGET ne saurait en aucun cas être tenue responsable des dysfonctionnements du matériel utilisé avec le Service.</p>
<p><br></p>
<h3>Paramétrages</h3>
<p>Le Service peut être paramétré dans les limites des possibilités qu’il peut raisonnablement offrir.</p>
<p>Paramétrages par l’Organisateur</p>
<p>L’Organisateur est seul responsable des paramétrages du Service qu’il effectue et en devient propriétaire. La responsabilité d’APPLIDGET ne saurait en aucun cas être engagée à raison des paramétrages effectués par l’Organisateur.</p>
<p>Paramétrages par APPLIDGET</p>
<p>L’Organisateur peut demander à APPLIDGET de paramétrer le Service selon ses besoins. APPLIDGET proposera dans ce cas à l’Organisateur un devis avec un planning indicatif de développement.</p>
<p>APPLIDGET pourra répondre aux demandes additionnelles du Client non prévues dans le devis initial dans un délai de deux jours ouvrés minimum. Toute demande complémentaire, tout dépassement significatif des temps de développement dus à des ajustements
  demandés par l’Organisateur par rapport au devis initial au cours de la phase de développement donneront lieu à une facturation supplémentaire par rapport au devis initial sur la base du temps-homme passé selon le taux journalier ou horaire indiqué
  dans le devis.</p>
<p>APPLIDGET garantit un rendu homogène de ses paramétrages sur les navigateurs suivants :</p>
<ul>
  <li>Internet Explorer version 11 et ultérieure</li>
  <li>Safari version 7 et ultérieures</li>
  <li>Chrome version 38.0.2125.111 et ultérieures</li>
</ul>
<p>L’Organisateur n’aura pas la possibilité de valider le bon à tirer (BAT) avant sa mise en ligne par APPLIDGET.</p>
<p>Les paramétrages réalisés par Applidget donneront lieu à un bon de livraison qu’APPLIDGET demandera au client de signer avant d’utiliser les paramétrages. A défaut de bon de livraison signé, l’utilisation par le client des paramétrages vaudra pour signature.</p>
<p>Garantie des paramétrages par APPLIDGET</p>
<p>Les paramétrages réalisés par Applidget sont couvert par une garantie de 14 jours calendaires. Si au cours des 14 jours suivant la signature du bon de livraison ou l’ouverture du service, un comportement non conforme est détecté par le client, il transmettre
  une demande à Applidget afin que l’anomalie soit corrigée. Cette garantie couvre également les traitements de données nécessaires à la remise en conformité, sauf</p>
<p><br></p>
<h3>Maintenance évolutive, assistance et formation</h3>
<p>Le Service ne comprend ni maintenance évolutive, ni assistance technique téléphonique ou formation.</p>
<p>APPLIDGET pourra toutefois proposer à l’Organisateur, moyennant des conditions à définir, des prestations de maintenance évolutive, de support téléphonique ou de formation. A tout moment, l’Organisateur peut effectuer une demande d'assistance par courriel
  à l'adresse support@a<span pplidget.com.="">&lt;="" p=""&gt;</span></p>
  <p><br></p>
<h3>Service Level Agreement</h3>
<p>APPLIDGET pourra convenir avec l’Organisateur, moyennant des conditions à définir, d’obligations de Service Level Agreement.</p>
<p><br></p>
<h3>Crédit et recharge</h3>
<p>Le Service utilise un système de crédit rechargeable. Chaque Invité consomme une certaine quantité de crédits, qui varie selon les fonctionnalités utilisée s.</p>
<p>La quantité de crédits dont dispose l’Organisateur est indiquée sur le compteur figurant sur la plateforme eventmaker.io..</p>
<p>Pour recharger son compte, l’Organisateur doit acheter des Packs en ligne sur le site de Eventmaker.io ou signer un devis proposé par l’équipe commerciale d’Applidget. Une fois le paiement validé, l’Organisateur reçoit par courriel une confirmation
  de paiement et est autorisé à utiliser les fonctionnalités du Service associées au Pack choisi. L’Organisateur reçoit également par la suite une facture correspondant à son paiement.</p>
<p>L’Organisateur a la possibilité de souscrire à tout moment à une offre Pack supérieure s’il souhaite obtenir plus d’avantages et de fonctionnalités. Si l’Organisateur souhaite souscrire à un Pack supérieur, il devra alors s’acquitter d’un montant supplémentaire.</p>
<p>APPLIDGET se réserve le droit de refuser ou supprimer le compte d’un Organisateur si ce dernier se révèle insolvable.</p>
<h3>Badges et consommables</h3>
<p>Les badges sont dotés d’un QR Code qui permet à l’Invité de s’identifier à l’entrée de l’Evénement. Le badge est personnel et incessible, un badge ne permettant l’accès qu’à l’Invité dont le nom figure sur celui-ci. En cas de duplication d’un badge,
  le droit d’entrée sera consommé par la présentation du premier badge.</p>
<p>Impression des badges</p>
<p>Les badges doivent être imprimés par l’Organisateur préalablement à l’Evénement de manière parfaitement lisible et dans une taille suffisamment grande pour pouvoir être scanné par un appareil mobile.</p>
<p>L’Organisateur peut demander à APPLIDGET avant la date de l’Evénement, de prendre en charge l’impression des badges, de les envoyer en son nom aux Invités ou de les mettre à disposition des Invités le jour de l’Evènement. Cette prestation n’est possible
  que si l’organisateur fait sa demande suffisamment en avance.</p>
<p>Cette prestation donne lieu à un devis devant préalablement être accepté par l’Organisateur. Le tri des badges, s’il n’est pas mentionné expressément dans le devis, n’est pas inclus.</p>
<p>APPLIDGET fera dans ce cas valider le bon à tirer (BAT) à l’Organisateur étant précisé qu’au bout du quatrième BAT non validé, l’Organisateur se verra facturer automatiquement des frais de 100 euros HT.</p>
<p>APPLIDGET n’est pas responsable du contenu du fichier communiqué par l’Organisateur aux fins de l’impression des badges et ne vérifie pas ce dernier.</p>
<p>Consommables</p>
<p>L’Organisateur peut demander à APPLIDGET, dans un délai minimum de 5 jours ouvrés avant la date de l’Evènement, de commander des consommables (cordo ns, porte badges, papiers, badges vierges...), toute commande dans un délai plus court donnant lieu
  surcoût qui sera répercuté sur l’Organisateur.</p>
  <p><br></p>
<h3>Appareils utilisés pour scanner les badges</h3>
<p>L’Organisateur doit utiliser des appareils mobiles (types smartphones ou tablettes) pour scanner les badges.</p>
<p>L’Organisateur est seul responsable du choix des appareils mobiles utilisés pour scanner les badges. Il doit veiller à tester le bon fonctionnement de ces appareils sur les badges avant la date de l’Evénement. Les appareils mobiles doivent être utilisés
  avec les versions à jour de leur système d’exploitation.</p>
<p>L’Organisateur peut louer des appareils mobiles à APPLIDGET moyennant les conditions prévues dans les conditions générales de vente Mobiloc.fr. (Lien des GCV de location de matériel ci-après: https://docs.google.com/document/d/1cpPjwDhQGY79AV0-qktNzh7Py910Asv2G2tXFwjEnCQ/pub)</p>
<p><br></p>
<h3>Prestations sur site</h3>
<p>APPLIDGET pourra, à la demande de l’Organisateur, effectuer des prestations sur le site de l’Evénement (installation d’un réseau Wifi, installation de postes informatiques...).</p>
<p>Dans ce cas, l’Organisateur doit vérifier au préalable que la connexion Internet présente sur le site de l’Evènement possède un débit suffisant et qu’une source d’électricité est située à moins de 10 mètres de l’accueil.</p>
<p>APPLIDGET garantit le bon fonctionnement du Service avec les matériels installés par ses soins.</p>
<p>Toute prestation sur site donne lieu à l’émission d’un devis.</p>
<p>Tout dépassement des horaires de présence du personnel d’Applidget figurant au devis donnera lieu à une majoration selon la convention Syntec en vigueur.</p>
<p>La responsabilité d’APPLIDGET ne saurait être engagée à raison :</p>
<ul>
  <li>des dysfonctionnements du Service résultant de la qualité du réseau Wifi si celui-ci n’a pas été installé par ses soins;</li>
  <li>des conséquences directes et indirectes du vol ou de la destruction de son matériel ou de toute autre cause indépendante de la volonté d’APPLIDGET rendant l’utilisation du matériel impossible;</li>
  <li>des erreurs de manipulation du personnel non dépêché par APPLIDGET</li>
</ul>
<p><br></p>
<h3>Billetterie</h3>
<p>En cas de mise en place d’un contrat de mandataire de billetterie, l’Organisateur déclare assumer seul le risque de contrepartie en cas d’annulation de la transaction CB du client final.</p>
<p>APPLIDGET ne pourra en aucun cas être tenue de rembourser le client final du prix du billet qu’il a acquis auprès de l’Organisateur, celui-ci étant seul responsable.</p>
<p><br></p>
<h3>Engagements de l’Organisateur</h3>
<h4>Utilisation licite du Service</h4>
<p>L’Organisateur s’engage à utiliser le Service de manière licite.</p>
<h4>Engagements liés au contenu</h4>
<p>L’Organisateur est entièrement responsable du contenu qu’il met en ligne. Il s’engage à respecter la législation en vigueur, notamment:</p>
<ul>
  <li>les dispositions relatives à la Loi pour la Confiance dans l’Economie Numérique du 21 juin 2004 numéro 2004-575, et tous ses décrets d’application,</li>
  <li>la législation en vigueur sur la publicité,</li>
  <li>la législation en vigueur sur la propriété intellectuelle,</li>
  <li>les droits des tiers (droit à l’image, droit à la vie privée, ainsi que la Loi du 21 juillet 1881).</li>
</ul>
<p>APPLIDGET se réserve le droit de supprimer sans préavis et librement tout contenu ne respectant pas les CGU, ou qui serait contraire aux bonnes mœurs, à la règlementation applicable en matière de liberté de la presse, liberté d’expression, d’apologie
  de crime, de négation de crime, d’appel à la violence, de droit de la consommation, droit de la propriété, e n ce compris en matière de droits de propriété intellectuelle sans que cette liste ne soit limitative.</p>
<h4>Engagements liés à l’Evènement</h4>
<p>L’Organisateur s’interdit d’utiliser le Service pour organiser des Evènements dont l’objet est illicite ou interdit.</p>
<p>L’Organisateur déclare disposer :</p>
<ul>
  <li>du droit de distribuer ou de faire envoyer par APPLIDGET les badges afférents à l'Evènement et que ce droit n’est restreint par aucun engagement contracté avec un tiers;</li>
  <li>de toutes les autorisations, administratives notamment, requises pour la mise en place de l’Evènement. A ce titre, il s’engage à respecter la réglementation applicable à l’Evènement et notamment, sans que cette liste ne soit exhaustive : le code du
    travail, la réglementation applicable à l’hygiène et à la sécurité, aux établissements recevant du public, aux débits de boisson...</li>
</ul>
<p>L'Organisateur fait une présentation loyale et sincère de ses Evènements de sorte à ne pas créer de confusion ni d’erreur dans l’esprit des Invités.</p>
<p>La responsabilité d’APPLIDGET ne saurait être engagée à raison des informations publiées par l’Organisateur au titre de l’organisation de l’Evènement.</p>
<p>Respect du droit des tiers</p>
<p>L’Organisateur garantit être titulaire de l'ensemble des droits d'auteur et/ou droits voisins relatifs aux images et/ou photographies et/ou aux contenus de ses publications et/ou tous autres éléments qu’il publie sur le Service ou qu’il fournit ou partage
  dans le cadre des Evènements.</p>
<p>L’Organisateur garantit avoir obtenu l’autorisation des personnes représentées sur les photographies et/ou images qu’il pourrait publier sur le Service.</p>
<p>L’Organisateur s’engage à ne publier aucun contenu ou image de nature à porter atteinte à la réputation, à l’image et/ou à la vie privée et s’engage à ne pas tenir de propos qui seraient contraires à l’ordre public et aux bonnes mœurs ou pourraient
  inciter à des comportements de haine raciale ou préjudiciables à la santé publique, qui porteraient atteinte à l’honneur ou à la considération de toute personne et susceptibles d’ouvrir droit à une action en diffamation, ou encore qui comporteraient
  des expressions outrageantes, des invectives ou des injures. L’Organisateur s’engage à ne pas publier d’informations qu’il aurait obtenues sur des utilisateurs ou des tiers, ou de contenus d’utilisateurs ou de tiers sans leur accord préalable.</p>
<p>Si l’Organisateur constate un contenu illicite, un abus ou une violation relative à des droits de tiers, il peut le signaler à APPLIDGET en adressant un courriel à l’adresse ecrire@applidget.com.</p>
<p><br></p>
<h3>Propriété intellectuelle</h3>
<p>APPLIDGET détient seule la propriété intellectuelle du Service et du code source afférent. L’utilisation du Service par l’Organisateur ne confère à celui-ci aucun droit de propriété intellectuelle sur le Service.</p>
<p>L’Organisateur s’oblige à respecter les mentions de propriété concernant le Service. Il s’interdit formellement :</p>
<ul>
  <li>de reproduire de façon permanente ou provisoire le Service en tout ou partie, par tout moyen et sous toute forme, y compris à l’occasion du chargement, de l’affichage, de l’exécution ou du stockage du logiciel;</li>
  <li>de traduire, adapter, arranger, décompiler, ou modifier le Service, l’exporter, de le fusionner avec d’autres applications informatiques;</li>
  <li>de tenter d’obtenir le code source du Service.</li>
</ul>
<p>Si l’Organisateur demande à APPLIDGET d’adapter le Service à ses besoins spécifiques, APPLIDGET conserve la propriété des paramétrages et développements réalisés ainsi que des codes sources produits, qui ne pourront pas, sauf accord expresse d’APPLIDGET,
  être utilisés par l’Organisateur dans un cadre différent de celui de l’Evènement organisé.</p>
  <p><br></p>
<h3>Refus d’accès au Service et fermeture de compte</h3>
<p>APPLIDGET se réserve le droit de refuser l’accès au Service à l’Organisateur si celui-ci apparaît susceptible de porter atteinte aux droits d’un tiers ou d’enfreindre la loi.</p>
<p>En cas de manquement de l’Organisateur à l’une des obligations décrites à l’Article 17, APPLIDGET se réserve le droit de fermer le compte de l’Organisateur, de refuser toute nouvelle inscription de sa part, sans préjudice pour APPLIDGET de la possibilité
  de lui demander des dommages et intérêts.</p>
<p>L’Organisateur renonce à toute demande d’indemnité ou de dommages-intérêts à raison d’une fermeture de compte ou d’un refus d’inscription.</p>
<p><br></p>
<h3>Conditions de maintien des prix des devis liés à la prestation de fourniture et d’impression de badges</h3>
<p>Concernant la prestation de fourniture et d’impression de badges, les prix précisés dans le devis ne sont garantis que si le Client ou l’Organisateur transmet son accord par écrit à APPLIDGET sur la version finale du bon à tirer (BAT) 18 jours ouvrés
  avant la date de livraison desdits badges. Passé ce délai, les prix peuvent être ajustés.</p>
<p>Par ailleurs, si le Client ou l’Organisateur venait à revenir sur son accord écrit, modifiant ainsi le BAT, quel que soit le délai avant livraison, les badges déjà créés lui seraient facturés en supplément dans les conditions du présent article.</p>
<p><br></p>
<h3>Responsabilité d’APPLIDGET</h3>
<p>APPLIDGET s’engage à mettre en œuvre tous les moyens dont elle dispose pour assurer le bon fonctionnement et la bonne disponibilité du Service.</p>
<p>La responsabilité d’APPLIDGET ne saurait être engagée à raison :</p>
<ul>
  <li>De dommages directs (par exemple manque à gagner, location de salle, matériel, personnel ...) ou indirects (par exemple perte de marchés ou de clients, préjudice commercial, manque à gagner, perte de chiffre d’affaires, atteinte à l’image de marque...)
    résultant de perturbations, de dérangements, d’interruptions ou de l’indisponibilité du Service;</li>
  <li>D’une inadéquation entre les besoins de l’Organisateur et le Service;</li>
  <li>Des dysfonctionnements du Service liés aux intégrations de logiciels en ligne;</li>
  <li>Des litiges résultant de la billetterie mise en place par l’Organisateur;</li>
  <li>D'une mauvaise utilisation, ou d’une utilisation frauduleuse, abusive ou excessive du Service;</li>
  <li>Des contenus accessibles sur le réseau Internet et des dommages qui peuvent naître de leur utilisation à moins que ces contenus aient été édités par APPLIDGET elle-même;</li>
  <li>D’éventuels dysfonctionnements sur le matériel de l’Organisateur qui résulteraient de l’utilisation du Service;</li>
  <li>D’indisponibilité de la plateforme Internet nécessitant d’engager des frais supplémentaire pour l’envoi des badges;</li>
  <li>De la saturation ou d’une défaillance du réseau Internet;</li>
  <li>De litiges pouvant opposer l’Organisateur à des Invités ou des tiers, nés à l’occasion de l’utilisation du Service;</li>
  <li>De dommages résultant de la perte, de l’altération ou de toute utilisation frauduleuse de données, de la transmission accidentelle de virus ou autres éléments nuisibles, de l’attitude ou comportement d’un tiers. L’Organisateur déclare avoir connaissance
    de la vulnérabilité des données circulant sur le réseau Internet aux interceptions et détournements et ne saurait rechercher la responsabilité d’APPLIDGET à cet égard,</li>
  <li>De l’objet de l’Evénement ou de son organisation.</li>
</ul>
<p>APPLIDGET ne saurait être tenue pour fautive en vertu des présentes si l’exécution de ses obligations en tout ou en partie, est retardée ou empêchée suite à la survenance d’un évènement de force majeure au sens de la jurisprudence tels que : grève,
  défaillance du réseau public d’électricité, blocage des moyens de transport et d’approvisionnement, blocage des réseaux de communications électroniques, dispositions d’ordre législatif ou réglementaires rendant impossible l’exécution de la présente
  convention et plus généralement tout événement extérieur à APPLIDGET, imprévisible et irrésistible susceptible d’empêcher la bonne utilisation des réseaux de communications électroniques.</p>
<p>En toute hypothèse, la responsabilité d’APPLIDGET, quelle qu’en soit la cause ou le fondement, est limitée aux sommes hors taxes payées par l’Organisateur à APPLIDGET au titre de l’utilisation du Service.</p>
<p><br></p>
<h3>Loi applicable – Attribution de juridiction</h3>
<p>LE PRESENT CONTRAT EST REGI PAR LE DROIT FRANÇAIS.</p>
<p>TOUT LITIGE ENTRE APPLIDGET ET L’ORGANISATEUR, DE QUELQUE NATURE QUE CE SOIT ET DECOULANT DES CGU, SERA SOUMIS AU TRIBUNAL DE COMMERCE DE NANTERRE, SEUL COMPETENT ET CE, MEME EN CAS DE PLURALITE DE DEFENDEURS, D’APPEL EN GARANTIE OU D’INSTANCE EN REFERE.</p>
<p>Applidget SAS - 48, rue René Clair 75018 Paris</p>
<p>512 747 676 R.C.S Paris - TVA : FR51274767600041</p>
</div>


  </div>
  </div>
  <div class='space-60'></div>
</div>
